version: "3.4"
networks:
  dncore_network:
    name: dncore_network
    external: true
services:
  wifi.dnp.dappnode.eth:
    build: ./build
    image: "wifi.dnp.dappnode.eth:0.2.5"
    container_name: DAppNodeCore-wifi.dnp.dappnode.eth
    environment:
      - SSID=DAppNodeWIFI
      - WPA_PASSPHRASE=dappnode
      - NAT=true
      - CHANNEL=11
      - MODE=admin
      - INTERFACE
      - ADVANCED_OPTIONS=no
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    dns: 172.33.1.2
    privileged: true
    restart: on-failure
    networks:
      dncore_network:
        ipv4_address: 172.33.1.10
        aliases:
          - wifi.dappnode
    logging:
      driver: journald
